<div class="p-4 flex flex-col items-center">
  <p-selectButton
    [(ngModel)]="selectedResetPasswordStyle"
    [options]="styleOptions"
    class="mb-4"
    optionLabel="name"
    optionValue="value"
  />
  <lib-reset-password
    (navigateToLoginRequest)="onNavigateToLogin()"
    (submitResetPassword)="onSubmitResetPassword($event)"
    [isSubmitting]="isSubmitting"
    [resetError]="'Some error'"
    [title]="'Some title'"
    [token]="token"
    [variant]="selectedResetPasswordStyle"
  >
    @if (resetSuccessful()) { {{ resetSuccessful() }} } @if (tokenError()) { {{ tokenError() }} }
  </lib-reset-password>
</div>
