/* apps/draft-fe/src/app/privacy-policy-acceptance/privacy-policy-acceptance.component.scss */
:host ::ng-deep {
  .privacy-policy-dialog {
    .p-dialog-header {
      background-color: var(--primary-color);
      color: white;
    }

    .p-dialog-content {
      padding: 1.5rem;
    }

    .p-dialog-footer {
      padding: 1rem 1.5rem;
      border-top: 1px solid var(--surface-200);
    }

    // Make sure the dialog is on top of everything
    z-index: 1100 !important;
  }

  .privacy-policy-content {
    font-size: 0.9rem;
    line-height: 1.6;

    h1, h2, h3 {
      margin-top: 1em;
      margin-bottom: 0.5em;
      font-weight: 600;
    }

    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.3em;
    }

    h3 {
      font-size: 1.1em;
    }

    p {
      margin-bottom: 1em;
    }

    ul, ol {
      padding-left: 1.5rem;
      margin-bottom: 1em;
    }

    li {
      margin-bottom: 0.5em;
    }
  }
}
